body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('mbr-1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #FFD700;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-box {
    margin-left: 5%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}

h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
}

p {
    margin: 0;
    color: #FFFFFF;
}
