body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

#howToGuide {
    background-color: #e9f7fe;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #333;
}

#howToGuide a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#howToGuide a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 20px;
}

input[type="password"], input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    font-size: 1em;
}

button {
    padding: 12px 25px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#responseContainer {
    margin-top: 20px;
}

#responseText {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#uploadedImage {
    display: none;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
